<!DOCTYPE html>
<html>
  <head>
      <title>{{ page.title }}</title>
      <link rel="icon" href="images/iou_favicon.ico">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  {% block style %}{% endblock %}
  <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
  </style>

  <body>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="#">I Owe You</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item" id="dettes">
                      <a class="nav-link" href="/"><i class="fa fa-balance-scale"></i> Dettes <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item" id="friends">
                      <a class="nav-link" href="/friends">
                          <i class="fa fa-users"></i> Amis
                          {% if nbrFriendsAsks > 0 %}
                              <span class="badge badge-danger">{{ nbrFriendsAsks }}</span>
                          {% endif %}
                      </a>
                  </li>
              </ul>
              <form class="form-inline mt-2 mt-md-0">
                  <ul class="navbar-nav">
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{ user.prenom }} {{ user.nom }}
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Profil</a>
                              <a class="dropdown-item" href="#">Messages</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Deconnexion</a>
                          </div>
                      </li>
                  </ul>

              </form>
          </div>
      </nav>

      <main role="main" class="container">
          {% block body %}{% endblock %}
      </main>
  </body>

  {% block script %}{% endblock %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
  <script type="text/javascript">
        $(document).ready(function(){
            $("#{{ page.id_active }}").addClass("active");
        });
  </script>
</html>
